.trich_carousel{
    margin-left: 3rem;
    padding: 12% 0;
    
}

.slick-next:before {
    font-weight: 900;
    content: '>' !important;
    font-size: 30px;
}

.slick-prev:before {
    content: "<" !important;
    font-size: 30px;
}

.tcenter{
    text-align: center;
    font-size: 30px;
}

.styled-numeric-input input:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    outline: none;
}

.form-control {    
    width: 10%;
    margin: auto;
    text-align: center;
    font-size: 25px;
    
}

.slider{
    margin:auto;
    width: 60%;
}

.rc-slider-rail {
    height: 8px;
}

.rc-slider-track {
    height: 8px;
    background-color: #595959;
}

.rc-slider-dot-active {
    border-color: #595959;
}

.rc-slider-handle {
    border: solid 2px #595959;

}

.rc-slider-handle:hover {
    border-color: #595959;
}

.rc-slider-mark-text {
    font-size: 15px;
}

.rc-slider-dot {
    width: 12px;
    height: 12px;
    margin-left: -6px;
}

.rc-slider-handle {
    width: 18px;
    height: 18px;
    margin-top: -10px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    font-size: 25px;
    margin: auto;
}

#calcular{
    margin: auto;
}

#reserva{
    height: 0%;
}

.modal-header{
    background-color: #595959;
    color: #ffffff;
  }