.trich_carousel{
    margin-left: 3rem;
}

.slick-next:before 
 {
    font-weight: 900;
    content: '>' !important;
}

.slick-prev:before {
    content: "<" !important;
}

.tcenter{
    text-align: center;
}