.content{
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
    width: auto;
    min-height: calc(100vh - 70px);
}

.btn-primary {
    color: #fff;
    background-color: #595959;
    border-color: #595959;
}