.content{
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
    width: auto;
    min-height: calc(100vh - 70px);
}

.btn-primary {
    color: #fff;
    background-color: #232323;
    border-color: #232323;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #232323;
    border-color: #232323;
    font-size: 25px;
}

.btn-outline-primary {
    color: #232323;
    border-color: #232323;
    font-size: 25px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #232323;
    border-color: #232323;
    font-size: 25px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #232323;
    border-color: #232323;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #232323;
    border-color: #232323;
}

.col {
    margin:auto;
}

.col_one{
    padding-right: 0px;
}

.col_two{
    padding-left: 0px;
}